
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEATZ</title>
      <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
  
    <!-- Css Styles -->
    <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/userAssets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/userAssets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/userAssets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/userAssets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/userAssets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/userAssets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/userAssets/css/style.css" type="text/css">
   

</head>
<body>
    {{{body}}}
     <script src="/userAssets/js/jquery-3.3.1.min.js"></script>
    <script src="/userAssets/js/bootstrap.min.js"></script>
    <script src="/userAssets/js/jquery.nice-select.min.js"></script>
    <script src="/userAssets/js/jquery.nicescroll.min.js"></script>
    <script src="/userAssets/js/jquery.magnific-popup.min.js"></script>
    <script src="/userAssets/js/jquery.countdown.min.js"></script>
    <script src="/userAssets/js/jquery.slicknav.js"></script>
    <script src="/userAssets/js/mixitup.min.js"></script>
    <script src="/userAssets/js/owl.carousel.min.js"></script>
    <script src="/userAssets/js/main.js"></script>
</body>
</html>


